APP_ENV=testing
TIMEZONE=UTC
OPENSEARCH_VERSION=2.19.3
# XDEBUG_CONFIG=client_port=9005 remote_host=172.17.0.1 mode=debug start_with_request=yes remote_log=/home/user/xdebug.log
PHP_IDE_CONFIG=serverName=Scout
ELASTICSEARCH_HOST=opensearch:9200
ELASTICSEARCH_USER=
ELASTICSEARCH_PASSWORD=
DB_HOST=db
DB_PORT=3306
DB_DATABASE=my_database
DB_USERNAME=root
DB_PASSWORD=my_password
